header {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

header .em-container {
  font-size: 20px;
  width: 700px;
}

header .em {
  font-size: 2em;
}

header .rem {
  font-size: 2rem;
}

section .vw {
  width: 90vw;
  /* height: 40vh; */
  font-size: 8vw;
  text-align: center;
  margin: 0 auto;
}
